<main class="dashboard">
  <h2>Subscriptions (<span data-subscription-count>0</span>)</h2>
  <section class="list__all-subscriptions">
    <article>
      <div class="option__add-new-subscription">
        <a href=""> <%- include('../icons/plus') %> Add New Site </a>
      </div>
    </article>
  </section>
</main>
