<header class="page-header">
  <span class="status-tag is-inactive">INACTIVE</span>
  <h1 class="heading__account-holder"></h1>
  <ul class="list__account-details">
    <li>ID: <span class="account-id"></span></li>
    <li>
      Referral Code:
      <span title="Click to copy referral code" class="referral-code">
        <%- include('../icons/copy') %>
        <span class="referral-code-output"></span>
      </span>
    </li>
    <li>Company: <span class="company-name"></span></li>
  </ul>
</header>
