*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: var(--black);
  font-size: var(--font-base-size);
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-md);
  line-height: var(--font-line-height);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4,
p {
  font-size: var(--text-md);
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  vertical-align: middle;
}

menu,
ol,
ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--purple-500);
  text-underline-position: under;
  text-decoration-thickness: 8;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--purple-300);
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="checkbox"],
[type="submit"] {
  cursor: pointer;
}
