<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZeroDae User Portal</title>
    <link rel="stylesheet" href="bundle.css" />
  </head>
  <body class="no-js is-loading">
    <%- include('layouts/header') %>
    <!-- Include the header -->
    <main class="acct-main">
      <h2>Subscriptions (<span class="sub-count">0</span>)</h2>
      <section class="sub-list">
        <article>
          <div class="add-new-site">
            <a href=""> <%- include('icons/plus') %> Add New Site </a>
          </div>
        </article>
      </section>
    </main>
  </body>
  <script type="module" src="bundle.js"></script>
</html>
