<!-- 

Info to be displayed on the create subscription page

planOptions: Array of objects containing the plan options
  - name: Name of the plan
  - price: Price of the plan
  - description: Description of the plan
  - id: ID of the plan (used to identify the plan in the Stripe API)

domainOptions: Array of objects containing the domain options
  - domain: Primary Domain Name associated with the plan
  - alternateDomains: Array of alternate domain names associated with the plan

AddOnOptions: Array of objects containing the add-on options
  - name: Name of the add-on
  - price: Price of the add-on
  - description: Description of the add-on
  - id: ID of the add-on (used to identify the add-on in the Stripe API)

-->

<form #="create-subscription" action="">
  <fieldset>
    <legend>Add a Subscription</legend>
  </fieldset>
</form>
