<main class="dashboard">
  <hgroup>
    <h2>Dashboard</h2>
    <strong><span data-subscription-count></span> Subscriptions</strong>
  </hgroup>
  <p><button><%- include('../icons/plus') %> Create Subscription</button></p>
  <section class="list__all-subscriptions">
    <%- include('../templates/subscription') %>
  </section>
  <section>
    <div class="option__add-new-subscription">
      <a href=""> <%- include('../icons/plus') %> Add New Site </a>
    </div>
  </section>
</main>
