@import url("vars.css");
@import url("base.css");
@import url("l-header.css");

.acct-main {
  padding: 2rem;
  margin: 0;
  background-color: var(--purple-300);
  color: var(--purple-700);
}

.sub-list > article {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--white);
}

.sub-list > article > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.sub-list > article > div > * {
  flex: 1 1 10ch;
}

.sub-list > article > h3 {
  color: var(--black);
}

.sub-list {
  color: var(--grey-700);
}

.sub-list p {
  margin: 0;
}

.sub-list span {
  color: var(--purple-700);
  text-transform: capitalize;
}

.site-interaction {
  text-align: right;
}

.site-addons ul {
  margin: 0;
}

.sub-list > article > div.add-new-site {
  display: grid;
  place-content: center;

  color: var(--black);
  text-align: center;
}

.sub-list > article > div.add-new-site > a {
  color: var(--black);
}
