@import url("vars.css");
@import url("base.css");

.acct-header {
  padding: 2rem;
  margin: 0;
  background-color: var(--purple-700);
}

.acct-main {
  padding: 2rem;
  margin: 0;
  background-color: var(--purple-300);
  color: var(--purple-700);
}

.acct-status {
  font-size: 1.5rem;
  font-weight: 500;
}

.active {
  color: var(--green-500);
}

.inactive {
  color: var(--grey-300);
}

.acct-header > h1 {
  color: var(--purple-500);
}

.acct-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey-300);
}

.acct-details > li > span {
  color: var(--purple-500);
}

.acct-details > li {
  display: inline-block;
  padding: 0;
}

.acct-details > li::before {
  content: " — ";
}

.acct-details > li:first-child::before {
  content: "";
}

.sub-list > article {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--white);
}

.sub-list > article > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.sub-list > article > div > * {
  flex: 1 1 10ch;
}

.sub-list > article > h3 {
  color: var(--black);
}

.sub-list {
  color: var(--grey-700);
}

.sub-list p {
  margin: 0;
}

.sub-list span {
  color: var(--purple-700);
  text-transform: uppercase;
}

.site-interaction {
  text-align: right;
}

.site-addons ul {
  margin: 0;
}

.sub-list > article > div.add-new-site {
  display: grid;
  place-content: center;

  color: var(--black);
  text-align: center;
}

.sub-list > article > div.add-new-site > a {
  color: var(--black);
}
